.question-report
  %h3
    = question.title

  - if ["single", "list"].include? question.question_type
    @choice = render "questions/tables/table_choice", answers: question.answers.choice_counter(params), question: question
  - if question.question_type == "image"
    = render "questions/tables/table_image",
      answers: question.answers.image_counter(params), question: question
  - if question.question_type == "multiple"
    = render "questions/tables/table_multiple",
      answers: question.answers.multiple_choice_counter(params), question: question
  - if question.question_type == "rating"
    = render "questions/tables/table_rating",
      answers: question.answers.rating_average(params), question: question
  - if ["open", "description", "phone", "email"].include? question.question_type
    = content_tag :div, id: "open_question_#{question.id}" do
      = render "questions/tables/table_open", question: question
  - if question.question_type == "date"
    = content_tag :div, id: "date_question_#{question.id}" do
      = render "questions/tables/table_date", question: question

  %hr
