%h3
  = question.title

%ul.list-group
  %li.list-group-item
    %span.counter.pull-right
      = question.answers_count
    = t "app.survey.show.answers"
  - if ["single", "list"].include? question.question_type
    - @choice = question.answers.choice_counter.each do |answer|
      %li.list-group-item
        %span.counter.pull-right
          = answer[1]
        = answer[0]
  - if question.question_type == "image"
    - @image = question.answers.image_counter.each do |answer|
      %li.list-group-item
        %span.counter.pull-right
          = answer[1]
        = answer[0]
  - if question.question_type == "multiple"
    - @multiple = question.answers.multiple_choice_counter.each do |answer|
      %li.list-group-item
        %span.counter.pull-right
          = answer[1]
        = answer[0]
  - if question.question_type == "rating"
    %li.list-group-item
      %span.counter.pull-right
        - if question.answers.any?
          = number_with_precision(question.answers.rating_average, precision: 2)
        - else
          0
      = t "app.survey.show.average_rating"
  - if ["open", "date", "description", "phone", "email"].include? question.question_type
    - if question.answers.any?
      %li.list-group-item
        .clearfix
          = link_to t("app.survey.show.answer_show"), [question, :answers],
            remote: true, class: "pull-left"
          .export-links
            = link_to t("app.survey.show.survey_export"),
              question_answers_path(question, format: "csv"),
              class: "btn btn-xs btn-primary"

.text-center
  - if ["single", "list"].include? question.question_type
    - if @choice.any?
      = pie_chart @choice
  - if question.question_type == "multiple"
    - if @multiple.any?
      = pie_chart @multiple
  - if question.question_type == "image"
    - if @image.any?
      = pie_chart @image
