%table.table.table-striped
  %tbody
    - if answers.present?
      - answers.each do |answer|
        %tr
          %td.col-xs-2= answer.answer_date.created_at.strftime("%m/%d/%Y")
          %td.col-xs-1
            - if !request.format.pdf?
              = link_to answer.answer_date.id, answer.submission, remote: true
            - else
              = answer.answer_date.id
          %td.col-xs-9= answer.answer_date.response
    - else
      %tr
        %td= t "app.no_results"
        %td
        %td

  - if !request.format.pdf?
    = will_paginate answers,
      class: "ajax-pag", params: { q: question.id, type: question.question_type }
