%h1.text-center Access your account
%p.text-center.text-light Use your credentials to access the app
= render "layouts/shared/alert_messages"
= simple_form_for :session, { url: sessions_path } do |f|
  = f.input :email, placeholder: "Email"
  = f.input :password, placeholder: "Password"
  = f.button :submit, "SIGN IN", class: "btn-default btn-main center-block"
%p.text-center
  Don't have an account?
  = link_to "Sign Up", [:new, :user], class: "link-default"
