%h1.text-center= t "app.session.new.text_primary"
%p.text-center.text-light= t "app.session.new.text_secondary"
= simple_form_for :session, { url: sessions_path } do |f|
  = f.input :email, label: false, placeholder: User.human_attribute_name(:email)
  = f.input :password, label: false, placeholder: User.human_attribute_name(:password)
  = f.button :submit, t("account.links.signin"), class: "btn-default btn-block btn-main"
%p.text-center
  = t "app.session.new.text_footer"
  = link_to t("account.links.signup").capitalize, [:new, :user], class: "link-default"
