%nav.navbar.navbar-default
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded": false,
        "data-target": "#bs-example-navbar-collapse-1",
        "data-toggle": "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo.png", width: 200), root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %p.navbar-text
          LANGUAGE:
          = image_tag "usa_flag.png", width: 15
          = link_to_unless_current "ENGLISH", locale: "en"
          |
          = image_tag "spain_flag.png", width: 15
          = link_to_unless_current "SPANISH", locale: "es"
        %li{class: is_active("users")}
          = link_to t("account.links.signup"), [:new, :user]
        %li{class: is_active("sessions")}
          = link_to t("account.links.signin"), [:new, :session]
