%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded": false,
        "data-target": "#bs-example-navbar-collapse-1",
        "data-toggle": "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag("logo.png", width: 150), customers_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        - if logged_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
              "data-toggle": "dropdown", href: own_customers_path, role: "button",
              "data-behavior": "load-customer-dropdown"}
              = Customer.human_attribute_name(:class_name).pluralize.upcase
              %span.caret
            %ul.dropdown-menu.dropdown-customers
              .text-center#customer-loader{style: "display:none"}
                %p= t "app.loading"
          - if is_admin?
            %li.dropdown
              %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
                "data-toggle": "dropdown", href: "#", role: "button"}
                = User.human_attribute_name(:class_name).pluralize.upcase
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to t("app.links.user_all"), [:admin, :users]
                %li
                  = link_to t("app.links.user_new"), [:new, :admin, :user]
        - if breadcrumbs.any?
          %ul.breadcrumb.list-inline.hidden-xs.hidden-sm
            = render_breadcrumbs tag: :li, separator: ""
      %ul.nav.navbar-nav.navbar-right
        - if logged_in?
          %li
            = link_to fa_icon("cogs",
              text: "#{t("app.welcome").upcase}, #{current_user.to_s.upcase}"),
              current_user
          %li
            = link_to t("app.links.sign_out").upcase,
              session_path(current_user), method: :delete
      = form_tag(search_surveys_path, method: "get", id: "survey-search-form",
        class: "navbar-form navbar-right") do
        .form-group
          = text_field_tag :search, params[:search],
            placeholder: t("app.search_form.placeholder").upcase,
            class: "form-control"
        = button_tag fa_icon("search"), class: "btn btn-default"
