= simple_form_for @user do |f|
  = f.input :name, label: false, placeholder: "Name"
  = f.input :last_name, label: false, placeholder: "Last Name"
  = f.input :email, label: false, placeholder: "Email"
  = f.input :password, label: false, placeholder: "Password"
  = f.input :password_confirmation, label: false, placeholder: "Password Confirmation"
  = f.button :submit, "Sign Up", class: "btn-block btn-primary"
