= simple_form_for @user do |f|
  - if @user.errors.any?
    .alert.alert-danger
      = @user.errors[:image][0] || "Check the errors below"

  = f.input :name, label: false, placeholder: "Name"
  = f.input :last_name, label: false, placeholder: "Last Name"
  = f.input :email, label: false, placeholder: "Email"
  = f.input :password, label: false, placeholder: "Password"
  = f.input :password_confirmation, label: false, placeholder: "Password Confirmation"
  .image-fields
    .media
      .media-left
        - if current_user.image.present?
          = image_tag(current_user.image.url(:thumb),
            class: "img-responsive img-thumbnail",
            width: 100, style: 'overflow-y: hidden; height: 100px;')
        - else
          = image_tag("default_user", class: "img-responsive img-thumbnail",
            width: 100, style: 'overflow-y: hidden; height: 100px;')
      .media-body
        .file-upload
          %span Upload an image for your profile
          = f.file_field :image, label: false, class: "upload"
          = f.input :image_cache, as: :hidden

        - if f.object.image?
          = f.hidden_field :remove_image
          = link_to fa_icon("trash-o"), "#", data: { behavior: "remove_image_fields" },
            class: "pull-right", title: "Remove this image"

        %p Images should be around 300x300 for a better size
  = f.button :submit, "Submit user", class: "btn-default btn-block btn-main"
