- content_for :sub_nav do
  .col-md-6
    %h1 #{current_user} profile details

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        %h1.text-center.m-b-1
          = link_to "#{current_user.name} #{current_user.last_name} Profile",
            [:edit, current_user]

        = display_image(current_user.image)

        %h4.text-center
          = current_user.email
