= render "layouts/shared/alert_messages"
%h1.text-center.m-t-0
  = link_to "#{current_user.name} #{current_user.last_name} Profile", [:edit, current_user]

= display_avatar(current_user)

%h4.text-center
  = current_user.email
