.modal-item
  .row
    .col-md-3
      = t "app.answer.question"
      = answer.question.title
    .col-md-3
      = t "app.answer.title"
      - if answer.answer_date.present?
        = I18n.l answer.answer_date.response, format: :custom
      - if answer.answer_open.present?
        = answer.answer_open.response
    .col-md-3
      = t "app.answer.answered_on"
      = I18n.l answer.created_at, format: :long
    .col-md-3
      = t "app.answer.answered_by"
      = answer.submission.user.email
