#answers-list.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
        %h2.text-center.m-t-0
          = @question.title
      .modal-body
        .answer-search.center-block
          - if @question.question_type == "rating"
            = render "rating_form", question: @question
          - else
            = render "open_form", question: @question
        .answer-items
          = render @answers
      .modal-footer
        #results-count.pull-left
          %span
            = @answers.total_entries
          = t("app.entries")

        = link_to t("app.survey.show.survey_export"),
          question_answers_path(@question, format: "csv"),
          class: "btn btn-xs btn-success", id: "export_results"

        - unless @answers.next_page.nil?
          = link_to fa_icon("undo", text: t("app.answer.answer_results_button")),
          question_answers_path(@question, page: @answers.next_page),
          remote: true, title: t("app.answer.answer_results_button"),
          data: { "disable-with": t("app.loading") },
          class: "btn btn-sm btn-default text-center", id: "show_more"
        %button.btn.btn-sm.btn-primary{"data-dismiss": "modal", type: "button"}
          = t("app.close_button")
