= form_tag(question_answers_path(question), method: "get",
  id: "answer-search-form", class: "form-inline", remote: true) do
  .form-group
    %label= t("app.survey.choices.title")
    = select_tag :rating_option,
      options_for_select(question.raitings.collect{ |r| [r.name, r.id]}),
      class: "form-control", prompt: t("app.survey.choices.prompt")
  .form-group
    %label= t("app.survey.ratings.title")
    = number_field_tag :rating_response, nil, class: "form-control", in: 1...6

  = submit_tag t("app.search"), class: "btn btn-primary btn-sm",
    data: { disable_with: t("app.loading")}
