.customer-panel
  .row
    .col-md-9
      %h2
        = customer.name
      %p
        = customer.description
      = link_to fa_icon("list", text: "SHOW ALL CUSTOMER SURVEYS"), [customer, :surveys],
        class: "btn btn-xs btn-default"
    .col-md-3
      .dropdown
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h3
            = customer.surveys_count
            Surveys
            %span.caret
        %ul.dropdown-menu
          - if policy(Survey.new(customer: customer)).create?
            %li
              = link_to "Create new survey", [:new, customer, :survey]
          - if policy(customer).show?
            %li
              = link_to "Display customer information", customer
          - if is_admin?
            %li
              = link_to "Edit customer information",
                [:edit, :admin, customer.user, customer]
            %li
              = link_to "Archive customer", [:archive, :admin, customer.user, customer],
                method: :patch,
                data: { confirm: "Are you sure you want to archive this customer?" }
