.customer-panel
  .row
    .col-md-8
      %h2
        = customer.name
      %small
        = t "date.created_at"
        = I18n.l customer.created_at, format: :custom
      %p
        = truncate(customer.description, length: 90)
      = link_to fa_icon("list", text: t("app.customer.index.links.show_surveys")),
        [customer, :surveys], class: "btn btn-xs btn-default"
      - if policy(Survey.new(customer: customer)).create?
        = link_to t("app.customer.index.links.survey_new").upcase, [:new, customer, :survey],
          class: "btn btn-xs btn-primary"
    .col-md-4
      .dropdown
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h3
            = customer.surveys_count
            = Survey.human_attribute_name(:class_name).pluralize
            %span.caret
        %ul.dropdown-menu
          - if policy(Survey.new(customer: customer)).create?
            %li
              = link_to t("app.customer.index.links.survey_new"), [:new, customer, :survey]
          - if policy(customer).show?
            %li
              = link_to t("app.customer.index.links.customer_show"), customer
          - if is_admin?
            %li
              = link_to t("app.customer.index.links.customer_edit"),
                [:edit, :admin, customer.user, customer]
            %li
              = link_to t("app.customer.index.links.customer_archive"),
                [:archive, :admin, customer.user, customer],
                method: :patch,
                data: { confirm: "Are you sure you want to archive this customer?" }
          %li
            = link_to t("app.customer.index.links.show_surveys").downcase.capitalize,
              [customer, :surveys]
