.customer-panel
  .media
    .dropdown.pull-right
      %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
      "data-toggle": "dropdown", href: "#", role: "button"}
        %span.caret
      %ul.dropdown-menu
        - if policy(Survey.new(customer: customer)).create?
          %li
            = link_to t("app.customer.index.links.survey_new"), [:new, customer, :survey]
        - if policy(customer).show?
          %li
            = link_to t("app.customer.index.links.customer_show"), customer
        - if is_admin?
          %li
            = link_to t("app.customer.index.links.customer_edit"),
              [:edit, :admin, customer.user, customer]
          %li
            = link_to t("app.customer.index.links.customer_archive"),
              [:archive, :admin, customer.user, customer],
              method: :patch,
              data: { confirm: "Are you sure you want to archive this customer?" }
        %li
          = link_to t("app.customer.index.links.show_surveys").downcase.capitalize,
            [customer, :surveys]

    .media-left
      - if customer.avatar.present?
        = image_tag(customer.avatar.url(:thumb),
          class: "img-responsive img-circle", width: 100)
      - else
        = image_tag("default_avatar",
          class: "img-responsive img-circle", width: 100)
    .media-body
      %h3
        = customer.name
      %small
        = t "date.created_at"
        = I18n.l customer.created_at, format: :custom
        = t "app.by"
        = customer.user
      %p
        = "# #{customer.username } -"
        #{customer.surveys_count} #{Survey.human_attribute_name(:class_name).pluralize}
      = link_to fa_icon("list", text: t("app.customer.index.links.show_surveys")),
        [customer, :surveys], class: "btn btn-xs btn-default"
      - if policy(Survey.new(customer: customer)).create?
        = link_to t("app.customer.index.links.survey_new").upcase, [:new, customer, :survey],
          class: "btn btn-xs btn-primary"
