.panel-list
  .row
    .col-md-9
      - if policy(customer).show?
        %h2
          = link_to customer.name, customer
      - else
        %h2
          = customer.name
      %p
        = customer.description
    .col-md-3
      - if is_admin?
        = link_to fa_icon("remove"), [:admin, customer.user, customer],
          method: :delete, class: "pull-right"
      .dropdown
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h2
            %strong
              = customer.surveys_count
              Surveys
            %span.caret
        %ul.dropdown-menu
          %li
            = link_to "All Surveys", [customer, :surveys]
          - if is_admin?
            %li
              = link_to "Create new", [:new, :admin, customer, :survey]
