%h1.text-center.m-t-0
  - if is_admin?
    = link_to "#{@customer.name} Information", [:edit, :admin, @customer.user, @customer]
  - else
    #{@customer.name} Information
%p.text-center
  = @customer.description

- if @customer.surveys.any?
  %h2.text-center
    Surveys by date
    = pie_chart @customer.surveys.date_surveys
