- content_for :sub_nav do
  .col-md-5
    %h1= t "app.customer.show.subnav"
  .col-md-3
    %ul.list-inline
      %li
        = link_to t("app.survey.index.links.survey_all"), [@customer, :surveys]
      - if is_admin?
        %li
          = link_to t("app.customer.index.links.customer_new"),
            [:new, :admin, current_user, :customer]

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        %h1.text-center
          #{@customer.name}
          - if is_admin?
            %span
              = link_to t("app.customer.index.links.customer_edit").upcase,
                [:edit, :admin, @customer.user, @customer], class: "btn btn-xs btn-primary"
              - if @customer.surveys.any?
                = link_to fa_icon("list", text: t("app.customer.index.links.show_surveys")),
                  [@customer, :surveys], class: "btn btn-xs btn-default"

        %p.text-center
          = @customer.description

        = display_image(@customer.avatar, "default_avatar.png")
