= simple_form_for [@survey, @submission] do |f|
  - @submission.answers.each do |answer|
    %h3
      = answer.question.title
    = f.simple_fields_for :answers, answer do |a|
      = a.hidden_field :question_id
      = render "answers/fields/answer_#{answer.question.question_type}",
        f: a,
        choices: (answer.question.choices if answer.question.choices.any?),
        images: (answer.question.images if answer.question.images.any?),
        answer: (answer if answer.present?),
        ratings: (answer.question.raitings if answer.question.raitings.any?)
      - if answer.question.info_image.present? || answer.question.info_body.present?
        .form-group
          - if answer.question.info_image.present?
            = image_tag answer.question.info_image.url(:thumb),
              class: "img-responsive img-thumbnail"
          - if answer.question.info_body.present?
            %p
              = answer.question.info_body

  = f.button :submit, t("app.submission.links.form_button"),
      class: "btn-block btn-primary",
      data: { disable_with: t("app.submission.links.form_button_load") }
