#submissions-list.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
        %h1.text-center.m-t-0
          #{@survey.customer.name} Survey Submissions
      .modal-body
        .submission-search.center-block
          = form_tag(survey_submissions_path(@survey), method: "get",
            id: "submission-search-form", remote: true) do
            .form-group
              = text_field_tag :created_after, params[:created_after],
                placeholder: "Select a beginning date",
                class: "form-control input-sm", data: { behavior: "date-picker" }
            .form-group
              = text_field_tag :created_before, params[:created_before],
                placeholder: "Select an ending date",
                class: "form-control input-sm", data: { behavior: "date-picker" }
            .form-group
              = select_tag :question_id,
                options_for_select(@survey.questions.collect {|q| [q.title, q.id, {"data-type": q.question_type}]}),
                prompt: "--- Question ---",
                data: { behavior: "questions_select" },
                class: "form-control input-sm"

            .form-group#select-content
            = button_tag "SEARCH", class: "btn btn-default btn-block btn-sm"

        .submission-items
          = render @submissions

      .modal-footer
        - unless @submissions.next_page.nil?
          = link_to fa_icon("undo", text: "LOAD MORE SUBMISSIONS"),
          survey_submissions_path(@survey, page: @submissions.next_page),
          remote: true, title: "Load more submissions!",
          data: { "disable-with": "loading.." },
          class: "btn btn-sm btn-default text-center", id: "show_more"
        %button.btn.btn-sm.btn-primary{"data-dismiss": "modal", type: "button"} Close
