#submissions-list.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
        %h2.text-center.m-t-0
          = t "app.submission.index.subnav"
          %small
            = @survey.name
      .modal-body
        .submission-search.center-block
          = form_tag(survey_submissions_path(@survey), method: "get",
            id: "submission-search-form", remote: true) do
            .form-group
              = text_field_tag :created_after, params[:created_after],
                placeholder: t("app.submission.index.search_start_date"),
                class: "form-control input-sm", data: { behavior: "date-picker" }
            .form-group
              = text_field_tag :created_before, params[:created_before],
                placeholder: t("app.submission.index.search_end_date"),
                class: "form-control input-sm", data: { behavior: "date-picker" }
            .form-group
              = select_tag :question_id,
                options_for_select(@survey.questions.collect {|q| [q.title, q.id, {"data-type": q.question_type}]}),
                prompt: t("app.submission.index.search_question"),
                data: { behavior: "questions_select" },
                class: "form-control input-sm"

            #select-content
            = submit_tag t("app.search"), class: "btn btn-default btn-block btn-sm",
              data: { disable_with: t("app.submission.index.search_button_load")}

        .submission-items
          = render @submissions

      .modal-footer
        #results-count.pull-left
          %span
            = @submissions.total_entries
          = t("app.entries")

        = link_to t("app.survey.show.survey_export"),
          survey_submissions_path(@survey, format: "csv"),
          class: "btn btn-xs btn-success", id: "export_results"

        - unless @submissions.next_page.nil?
          = link_to fa_icon("undo", text: t("app.submission.index.submission_results_button")),
          survey_submissions_path(@survey, page: @submissions.next_page),
          remote: true, title: t("app.submission.index.submission_results_button"),
          data: { "disable-with": t("app.loading") },
          class: "btn btn-sm btn-default text-center", id: "show_more"
        %button.btn.btn-sm.btn-primary{"data-dismiss": "modal", type: "button"}
          = t "app.close_button"
