#submissions-list.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label": "Close", "data-dismiss": "modal", type: "button"}
          %span{"aria-hidden": "true"} ×
        %h1.text-center.m-t-0
          #{@survey.customer.name} Survey Submissions
      .modal-body
        .text-center.m-b-1
          = form_tag(survey_submissions_path(@survey), method: "get",
            id: "submission-search-form", class: "form-inline", remote: true) do
            .form-group
              %label{for: "date_from"} From
              = text_field_tag :from, params[:from],
                placeholder: "Select a beginning date", id: "date_from",
                class: "form-control", data: { behavior: "date-picker" }
            .form-group
              %label{for: "date_to"} To
              = text_field_tag :to, params[:to],
                placeholder: "Select an ending date", id: "date_to",
                class: "form-control", data: { behavior: "date-picker" }
            = button_tag "SEARCH", class: "btn btn-default"
        %table.table.table-hover
          %thead
            %tr
              %th
                Submission date
              %th
                Survey name
              %th
                User
          %tbody
            = render @submissions
      .modal-footer
        - unless @submissions.next_page.nil?
          = link_to fa_icon("undo", text: "LOAD MORE SUBMISSIONS"),
          survey_submissions_path(@survey, page: @submissions.next_page),
          remote: true, title: "Load more submissions!",
          data: { "disable-with": "loading.." },
          class: "btn btn-sm btn-default text-center", id: "show_more"
        %button.btn.btn-sm.btn-primary{"data-dismiss": "modal", type: "button"} Close
