.modal-item
  .row
    .col-md-3
      /#{t "app.submission.index.submission_date"}:
      = I18n.l submission.created_at, format: :long
    .col-md-4
      /#{t "app.submission.index.submission_survey"}:
      = submission.survey.name
    .col-md-3
      /#{t "app.submission.index.submission_by"}:
      - if submission.complete?
        = fa_icon "check-square", text: t("app.submission.index.complete")
      - else
        = fa_icon "sign-out", text: t("app.submission.index.incomplete")
    .col-md-2
      = link_to fa_icon("eye", text: t("app.submission.index.submission_answers_button")),
        submission, class: "btn btn-xs btn-default pull-right", remote: true
.submission-content
