- content_for :sub_nav do
  .col-md-5
    %h1
      Submitted by
      %small
        #{@submission.user}
  .col-md-3
    %ul.list-inline
      - if policy(@submission.survey).show?
        %li
          = link_to "SHOW SURVEY REPORT",
            [@submission.survey.customer, @submission.survey],
            class: "btn btn-sm btn-primary"
      %li
        = link_to "#{@submission.survey.customer.surveys_count} surveys total",
          [@submission.survey.customer, :surveys]

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        %h1
          = @submission.survey.name
        %p
          Submitted
          = time_ago_in_words(@submission.created_at)
          ago -
          = @submission.created_at.strftime("%m/%d/%Y at %I:%M%p")

          %h2
            Questions

          .submitted-answers
            - @submission.answers.each do |answer|
              .answer-item
                %h4
                  = answer.question.title
                - if answer.answer_open.present?
                  %p
                    Answer:
                    = answer.answer_open.response
                - if answer.answer_date.present?
                  %p
                    Answer:
                    = answer.answer_date.response
                - if answer.answer_raiting.present?
                  %p
                    Answer:
                    = answer.answer_raiting.response
                - if answer.answer_image.present?
                  %p
                    Answer:
                  = image_tag answer.answer_image.image.file.url(:thumb),
                    class: "img-responsive", width: 80
                - if answer.choice_answer.present?
                  %p
                    Answer:
                    = answer.choice_answer.choice.try(:title)
                - if answer.answer_multiple.present?
                  %p
                    Answer:
                    = answer.answer_multiple.choices.map(&:title).join(', ')



