- content_for :sub_nav do
  .col-md-5
    %h1
      = t "app.submission.show.subnav"
      %small
        #{@submission.sender}
  .col-md-3
    %ul.list-inline
      - if policy(@submission.survey).show?
        %li
          = link_to t("app.submission.links.survey_report"),
            [@submission.survey.customer, @submission.survey],
            class: "btn btn-sm btn-primary"
      %li
        = link_to "#{@submission.survey.customer.surveys_count} #{Survey.human_attribute_name(:class_name).downcase} total",
          [@submission.survey.customer, :surveys]

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        %h1
          = @submission.survey.name
        %p
          = t "app.submission.show.submission_sent"
          = time_ago_in_words(@submission.created_at)
          ,
          = I18n.l @submission.created_at, format: :long

          %h2
            = Question.human_attribute_name(:class_name).pluralize

          .submitted-answers
            - @submission.answers.each do |answer|
              .answer-item
                %h4
                  = answer.question.title
                - if answer.answer_open.present?
                  = answer.answer_open.response
                - if answer.answer_date.present?
                  = answer.answer_date.response
                - if answer.answer_image.present?
                  - if answer.answer_image.image.reference_path.present?
                    = image_tag answer.answer_image.image.reference_path,
                      class: "img-responsive", width: 80
                  - else
                    = image_tag answer.answer_image.image.file.url(:thumb),
                      class: "img-responsive", width: 80
                - if answer.choice_answer.present?
                  = answer.choice_answer.choice.try(:title)
                - if answer.answer_multiple.present?
                  = answer.answer_multiple.choices.map(&:title).join(', ')
                - if answer.answer_raitings.any?
                  - answer.answer_raitings.each do |rate|
                    %p
                      %span
                        #{rate.raiting.name}:
                        - if !rate.response.nil?
                          - 1.upto(rate.response) do |star|
                            &#x2605;



