%h1.text-center.m-t-0
  Survey submitted by
  %small
    #{@submission.user.name} #{@submission.user.last_name}
.panel-piled
  %h1
    = @submission.survey.name
  %p
    Submitted
    = time_ago_in_words(@submission.created_at)
    ago -
    = @submission.created_at.strftime("%m/%d/%Y at %I:%M%p")

  %h2
    Questions

  - @submission.answers.each do |answer|
    %h3
      = answer.question.title
    - if answer.answer_open.present?
      %p
        Response:
        = answer.answer_open.response
    - if answer.answer_date.present?
      %p
        Response:
        = answer.answer_date.response
    - if answer.answer_raiting.present?
      %p
        Response:
        = answer.answer_raiting.response
    - if answer.answer_image.present?
      %p
        Response:
        = answer.answer_image.image
    - if answer.choice_answer.present?
      %p
        Response:
        = answer.choice_answer.choice.title
    - if answer.answer_multiple.present?
      %p
        Response:
        = answer.answer_multiple.choices.map(&:title).join(', ')



