.notification-item
  %h4
    = alert.subject
    %small
      = t "date.created_at"
      = I18n.l alert.created_at, format: :custom
  %small
    = alert.to
  .actions
    = link_to t("app.edit"), [:edit, @survey, alert], class: "btn btn-xs btn-primary"
    = link_to t("app.delete"), [@survey, alert], method: :delete, class: "btn btn-xs btn-danger"
