= simple_form_for [@survey, @alert] do |f|
  = f.input :from, label: false, placeholder: Alert.human_attribute_name(:from)
  = f.input :to, label: false, placeholder: Alert.human_attribute_name(:to)
  = f.input :subject, label: false, placeholder: Alert.human_attribute_name(:subject)
  = f.input :body, label: false, as: :text, input_html: { rows: 6 },
    placeholder: Alert.human_attribute_name(:body)

  - if @alert.persisted?
    .form-group
      = link_to fa_icon("plus", text: t("app.survey.notifications.filters.add_filter")),
        [:new, @alert, :alert_filter], remote: true, class: "btn btn-default btn-sm",
        data: { disable_with: t("app.loading") }

    %hr.separator

    #filter-wrapper
      = render @alert.alert_filters

  = f.button :submit, t("app.survey.notifications.form_button"),
    class: "btn-block btn-primary",
    data: { disable_with: t("app.survey.notifications.form_button_load") }
