= simple_form_for [@customer, @survey] do |f|
  = f.input :name, label: false, placeholder: Survey.human_attribute_name(:name)
  = f.input :description, label: false, input_html: { rows: 4 },
    placeholder: Survey.human_attribute_name(:description)

  - if @survey.persisted?
    .form-group
      = link_to fa_icon("plus", text: t("app.survey.index.links.question_add")),
        [:new, @survey, :question], remote: true, class: "btn btn-default btn-sm",
        data: { disable_with: t("app.loading") }
    #question-wrapper{ "data-sort-url": sort_questions_url }
      = render partial: "questions/question_list",
        collection: @survey.questions, as: :question

  = f.button :submit, t("app.survey.form_button"),
    class: "btn-block btn-primary m-t-1",
    data: { disable_with: t("app.survey.form_button_load") }
