= simple_form_for [@customer, @survey] do |f|
  - if @survey.errors.any?
    .alert.alert-danger
      = @survey.errors[:questions][0] || @survey.errors[:avatar][0] || "Check the errors below"

  = f.input :name, label: false, placeholder: "Name"
  = f.input :description, label: false, input_html: { rows: 4 }, placeholder: "Description"
  .image-fields
    .media
      .media-left
        - if f.object.avatar.present?
          = image_tag(f.object.avatar.url(:thumb),
            class: "img-responsive img-thumbnail",
            width: 100, style: 'overflow-y: hidden; height: 100px;')
        - else
          = image_tag("default_avatar", class: "img-responsive img-thumbnail",
            width: 100, style: 'overflow-y: hidden; height: 100px;')
      .media-body
        .file-upload
          %span Upload an avatar for the survey
          = f.file_field :avatar, label: false, class: "upload"
          = f.input :avatar_cache, as: :hidden

        %p Images should be around 1200x500 for a better size

  = f.fields_for :questions do |builder|
    = render "question_fields", f: builder

  .form-group
    = link_to_add_fields fa_icon("plus", text: "Add some questions"),
      f, :questions, "btn btn-default btn-sm"

  = f.button :submit, "Save survey",
    class: "btn-block btn-primary", data: { disable_with: "Saving survey..." }
