= simple_form_for [@customer, @survey] do |f|
  = f.input :name, label: false, placeholder: Survey.human_attribute_name(:name)
  = f.input :description, label: false, input_html: { rows: 4 },
    placeholder: Survey.human_attribute_name(:description)
  .image-fields
    .media
      .media-left
        - if f.object.avatar.present?
          .img-preview{style: "background-image: url(#{f.object.avatar.url(:thumb)})"}
        - else
          .img-preview{style: "background-image: url(#{asset_path('default_avatar.png')})"}
      .media-body
        .file-upload
          %span= t "app.survey.index.links.avatar_upload"
          = f.file_field :avatar, label: false, class: "upload"
          = f.input :avatar_cache, as: :hidden

        - if f.object.avatar?
          = f.hidden_field :remove_avatar
          = link_to fa_icon("trash-o"), "#", data: { behavior: "remove_image_fields" },
            class: "pull-right", title: t("app.survey.index.links.avatar_remove")

        %p= t "app.survey.index.links.avatar_text"

  - if @survey.persisted?
    .form-group
      = link_to fa_icon("plus", text: t("app.survey.index.links.question_add")),
        [:new, @survey, :question], remote: true, class: "btn btn-default btn-sm",
        data: { disable_with: t("app.loading") }
    #question-wrapper{ "data-sort-url": sort_questions_url }
      = render partial: "questions/question_list",
        collection: @survey.questions, as: :question

  = f.button :submit, t("app.survey.form_button"),
    class: "btn-block btn-primary m-t-1",
    data: { disable_with: t("app.survey.form_button_load") }
