.image-fields
  .row
    .col-xs-2
      .file-upload
        %span Upload an image for this question
        = f.file_field :file, label: false, class: "upload"
        = f.input :file_cache, as: :hidden
    .col-xs-1
      = f.hidden_field :_destroy
      = link_to fa_icon("trash-o"), "#", data: { behavior: "remove_image_fields" },
        class: "pull-right"
    .col-xs-3
      %small.file-name
        = file_name f.object.file
