.image-fields
  .media
    .media-left
      - if f.object.file.present?
        .img-preview{style: "background-image: url(#{f.object.file.url(:thumb)})"}
      - else
        .img-preview{style: "background-image: url(#{asset_path('default_avatar.png')})"}
    .media-body
      .file-upload.btn.btn-primary.btn-xs
        %span Upload an image for this question
        = f.file_field :file, label: false, class: "upload"
        = f.input :file_cache, as: :hidden

      = f.hidden_field :_destroy
      = link_to fa_icon("trash-o"), "#", data: { behavior: "remove_image_fields" },
        class: "pull-right", title: "Remove this image"

      %p Images should be around 300x300 for a better size
      = f.error :file

