= f.input :info_body, label: false, placeholder: "Informative text"
.image-fields#info-img
  .media
    .media-left
      - if f.object.info_image.present?
        .img-preview{style: "background-image: url(#{f.object.info_image.url(:thumb)})"}
      - else
        .img-preview{style: "background-image: url(#{asset_path('default_avatar.png')})"}
    .media-body
      .file-upload.btn.btn-primary.btn-xs
        %span Upload an image
        = f.file_field :info_image, label: false, class: "upload"
        = f.input :info_image_cache, as: :hidden

      - if f.object.info_image?
        = f.hidden_field :remove_info_image
        = link_to fa_icon("trash-o"), "#", data: { behavior: "remove_image_fields" },
          class: "pull-right", title: "Remove this image"

      %p Images should be around 300x300 for a better size
      = f.error :info_image

