.panel-piled
  .row
    .col-md-9
      %h2
        = link_to survey.name, [survey.customer, survey]
        %small
          = survey.customer.name
      %p
        = survey.description
    .col-md-3
      = link_to fa_icon("remove"), [survey.customer, survey],
        method: :delete, class: "pull-right"
      %h2
        %strong
          = survey.questions_count
          questions
