.survey-panel
  .row
    .col-md-8
      %h3
        = survey.name
      %small
        = t "date.created_at"
        = I18n.l survey.created_at, format: :custom
      %p
        = truncate(survey.description, length: 90)
      - if policy(survey).show?
        = link_to fa_icon("pie-chart", text: t("app.survey.index.links.survey_report")),
          [survey.customer, survey],
          class: "btn btn-xs btn-primary"
        = link_to fa_icon("filter", text: t("app.survey.index.links.survey_submissions")),
          [survey, :submissions],
          remote: true, class: "btn btn-xs btn-primary"
      = link_to fa_icon("check", text: t("app.survey.index.links.survey_submission")),
        [:new, survey, :submission],
        class: "btn btn-xs btn-default"
      - if policy(survey).update?
        = link_to fa_icon("edit", text: t("app.survey.index.links.survey_edit")),
          [:edit, survey.customer, survey], class: "btn btn-xs btn-default"

    .col-md-4
      .dropdown.pull-right
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h4
            %span.question-number
              = survey.questions_count
            = Question.human_attribute_name(:class_name).pluralize
            %span.caret
        %ul.dropdown-menu
          %li
            = link_to t("app.survey.index.links.survey_submission").downcase.capitalize,
              [:new, survey, :submission]
          - if policy(survey).update?
            %li
              = link_to t("app.survey.index.links.survey_edit").downcase.capitalize,
                [:edit, survey.customer, survey]
          - if policy(survey).archive?
            %li
              = link_to t("app.survey.index.links.survey_archive"),
                [:archive, survey.customer, survey], method: :patch,
                data: { confirm: t("app.survey.index.links.archive_alert") }
