.survey-panel
  .row
    .col-md-8
      %h3
        = survey.name
      %small
        = survey.created_at.strftime("Created on %b %d, %Y")
      %p
        = survey.description
      - if policy(survey).show?
        = link_to fa_icon("pie-chart", text: "DISPLAY SURVEY"), [survey.customer, survey],
          class: "btn btn-xs btn-primary"
        = link_to "SHOW SUBMISSIONS", [survey, :submissions],
          remote: true, class: "btn btn-xs btn-primary"
      = link_to fa_icon("pencil", text: "SUBMIT SURVEY"), [:new, survey, :submission],
        class: "btn btn-xs btn-default"
    .col-md-4
      .dropdown.pull-right
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h4
            %span.question-number
              = survey.questions_count
            questions
            %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Submit survey", [:new, survey, :submission]
          - if policy(survey).update?
            %li
              = link_to "Edit survey", [:edit, survey.customer, survey]
          - if policy(survey).archive?
            %li
              = link_to "Archive survey", [:archive, survey.customer, survey],
                method: :patch,
                data: { confirm: "Are you sure you want to archive this survey?" }
