.panel-piled
  .row
    .col-md-9
      %h2
        - if policy(survey).show?
          = link_to survey.name, [survey.customer, survey]
          %small
            = survey.customer.name
        - else
          = survey.name
          %small
            = survey.customer.name
      %p
        = survey.description
    .col-md-3
      .dropdown
        %a.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
        "data-toggle": "dropdown", href: "#", role: "button"}
          %h2
            %strong
              = survey.questions_count
              questions
            %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Submit this survey", [:new, survey, :submission]
          - if policy(survey).archive?
            %li
              = link_to "Archive survey", [:archive, survey.customer, survey],
                method: :patch,
                data: { confirm: "Are you sure you want to archive this survey?" }
