- content_for :sub_nav do
  .col-md-4
    %h1= t "app.survey.edit.subnav"
  .col-md-4
    %ul.list-inline
      - if policy(Survey.new(customer: @customer)).create?
        %li
          = link_to t("app.survey.index.links.survey_new"), [:new, @customer, :survey],
            class: "btn btn-sm btn-default"
      - if policy(@survey).show?
        %li
          = link_to t("app.survey.edit.survey_report"), [@survey.customer, @survey],
            class: "btn btn-sm btn-primary"
.container
  .row
    .col-md-10.col-md-offset-1
      .default-panel
        %h3
          = t "app.survey.edit.text_primary"
        = render "form"
