- if params[:page].present?
  - if ["open", "description", "phone", "email"].include? params[:type]
    $("#open_question_#{params[:q]}").html('#{ j render "questions/tables/table_open", question: Question.find(params[:q]) }');
  - elsif params[:type] == "date"
    $("#date_question_#{params[:q]}").html('#{ j render "questions/tables/table_date", question: Question.find(params[:q]) }');
- else
  $(".data-stats").html("#{ j render "stats" }");
  $("#survey-question-list").html("#{ j render @survey.questions }");
