.container
  .row.m-t-2.m-b-1
    .col-md-10.col-md-offset-1
      .panel-piled
        %h1
          = @survey.name
        %p
          = @survey.description

        %ul.list-group.m-t-1.m-b-0
          %li.list-group-item.data-stats
            = render "stats"

        %hr.separator
        /- @trans_keys = @survey.questions.unscope(:order).group_types.transform_keys do |key|
        /- t("app.question.question_types.#{key}").capitalize
        /- if @trans_keys.any?
        /= pie_chart @trans_keys, library: { pieSliceText: "value-and-percentage" }

        #survey-question-list
          = render partial: "answers/answer", locals: { questions: @questions, answers: @answers }
