- content_for :sub_nav do
  .col-md-5
    %h1 Survey search results
  .col-md-3
    %ul.list-inline
      %li
        = link_to "All CUSTOMERS", customers_path
      - if is_admin?
        %li
          = link_to "NEW CUSTOMER", [:new, :admin, current_user, :customer]

.container
  - @surveys.each_slice(2) do |(b1, b2)|
    .row
      .col-md-6
        = render b1
      .col-md-6
        = render b2 if b2
    .text-center
      = will_paginate @surveys
