= wicked_pdf_stylesheet_link_tag "pdf"
= javascript_include_tag "https://www.google.com/jsapi"
= wicked_pdf_javascript_include_tag "chartkick"

.container
  .row
    .col-md-10.col-md-offset-1
      .panel-piled
        %h1
          = @survey.name
        %p
          = @survey.description

        %ul.list-group.m-t-1.m-b-0
          %li.list-group-item.data-stats
            = render "stats.html.haml"

        %hr.separator
        /- @trans_keys = @survey.questions.unscope(:order).group_types.transform_keys do |key|
        /- t("app.question.question_types.#{key}").capitalize
        /- if @trans_keys.any?
        /= pie_chart @trans_keys, library: { pieSliceText: "value-and-percentage" }

        #survey-question-list
          - @questions.each do |question|
            .question-report
              %h3
                = question.title

              - if ["single", "list"].include? question.question_type
                = render "questions/tables/table_choice.html.haml",
                  answers: @answers.choice_responses(question), question: question
              - if question.question_type == "image"
                = render "questions/tables/table_image.html.haml",
                  answers: @answers.image_responses(question), question: question
              - if question.question_type == "multiple"
                = render "questions/tables/table_multiple.html.haml",
                  answers: @answers.multiple_responses(question), question: question
              - if question.question_type == "rating"
                = render "questions/tables/table_rating.html.haml",
                  answers: @answers.rated_responses(question), question: question
              - if ["open", "description", "phone", "email"].include? question.question_type
                = content_tag :div, id: "open_question_#{question.id}" do
                  = render "questions/tables/table_open.html.haml",
                    answers: @answers.open_responses(question, params[:page]), question: question
              - if question.question_type == "date"
                = content_tag :div, id: "date_question_#{question.id}" do
                  = render "questions/tables/table_date.html.haml",
                    answers: @answers.date_responses(question, params[:page]), question: question
              %hr


