- content_for :sub_nav do
  .col-md-5
    %h1= t "app.survey.show.subnav"
  .col-md-3
    %ul.list-inline
      %li
        = link_to t("app.survey.show.survey_submit"), [:new, @survey, :submission],
          class: "btn btn-sm btn-primary"
      %li
        = link_to "#{@customer.surveys_count} #{Survey.human_attribute_name(:class_name).downcase} total", [@customer, :surveys]

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        .dropdown.pull-right
          .dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true",
          "data-toggle": "dropdown", href: "#", role: "button"}
            = fa_icon "chevron-down"
          %ul.dropdown-menu
            %li
              = link_to t("app.survey.show.links.survey_submit"), [:new, @survey, :submission]
            %li
              = link_to t("app.survey.show.links.survey_list"), [@survey.customer, :surveys]
            - if policy(@survey).update?
              %li
                = link_to t("app.survey.show.links.survey_edit"), [:edit, @customer, @survey]
            %li
              = link_to t("app.survey.show.links.survey_pdf"),
                customer_survey_path(@customer, @survey, format: :pdf)
            - if policy(@survey).archive?
              %li
                = link_to t("app.survey.index.links.survey_archive"),
                  [:archive, @survey.customer, @survey], method: :patch,
                  data: { confirm: t("app.survey.index.links.archive_alert") }

        %h1
          = @survey.name
          %small
            = t "date.created_at"
            = I18n.l @survey.created_at, format: :custom
        %p
          = @survey.description

        %h2
          = t "app.survey.show.text_primary"

        %ul.list-group.m-t-1.m-b-0
          %li.list-group-item
            %span.counter.pull-right
              = @survey.questions_count
            = Question.human_attribute_name(:class_name).pluralize
          %li.list-group-item
            .clearfix
              = link_to "#{@survey.submissions.size} #{t("app.survey.show.survey_submissions")}",
                [@survey, :submissions], remote: true, class: "pull-left"
              .export-links
                = link_to t("app.survey.show.survey_export"),
                  survey_submissions_path(@survey, format: "csv"),
                  class: "btn btn-xs btn-primary"

        .row
          .col-md-4
            %h3
              = t "app.survey.show.type_of_questions"

            %ol.ordered-list
              - @survey.questions.each do |question|
                %li
                  = t("app.question.question_types.#{question.question_type}").capitalize
                  - if question.choices.any?
                    %span.badge.pull-right
                      = question.choices.size
                  - if question.images.any?
                    %span.badge.pull-right
                      = question.images.size

          .col-md-8
            %h3.text-center
              = t "app.survey.show.results_by_type"
              - @trans_keys = @survey.questions.unscope(:order).group_types.transform_keys do |key|
                - t("app.question.question_types.#{key}").capitalize
              = pie_chart @trans_keys

        = render @survey.questions

- if @survey.avatar.present?
  :css
    body  { background: url(#{@survey.avatar.url}) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
          }


