= @alert.survey.name
___________________________________________________________________________________


= @alert.body

- @notifications.each do |answer|
  = answer.question.title

  - if answer.question.question_type == "image"
    #{answer.submission.sender} #{t("app.has_selected")} #{answer.answer_image.image.name}
  - elsif answer.question.question_type == "rating"
    - answer.answer_raitings.each do |rate|
      - unless rate.response.nil?
        - @alert.alert_filters.each do |f|
          - if rate.raiting == f.raiting && f.answer.split(",").map(&:to_i).include?(rate.response)
            #{rate.raiting.name}:
            - 1.upto(rate.response) do |star|
              &#x2605;
  - elsif answer.question.question_type == "single"
    #{answer.submission.sender} #{t("app.has_selected")}
    #{answer.choice_answer.choice.title}
  - elsif answer.question.question_type == "list"
    #{answer.submission.sender} #{t("app.has_selected")}
    #{answer.choice_answer.choice.title}
  - elsif answer.question.question_type == "multiple"
    #{answer.submission.sender} #{t("app.has_selected")}
    #{answer.answer_multiple.choices.map(&:title).join(', ')}
  - else
    #{answer.submission.sender} #{t("app.has_answered")}
    #{answer.answer_open.response}

  %hr
