= simple_form_for [:admin, user] do |f|
  = f.input :name, label: false, placeholder: User.human_attribute_name(:name)
  = f.input :last_name, label: false, placeholder: User.human_attribute_name(:last_name)
  = f.input :email, label: false, placeholder: User.human_attribute_name(:email)
  = f.input :password, label: false, placeholder: User.human_attribute_name(:password)
  = f.input :admin, label: User.human_attribute_name(:admin)

  - unless user.admin?
    %h3= t "app.user.admin_new.customer_roles"

    - if customers.any?
      .user-roles
        - customers.each do |customer|
          = label_tag dom_id(customer), customer.name
          .form-group.role-buttons
            = collection_radio_buttons "roles",
              customer.id, t("app.user.roles").invert, :last, :first,
              checked: user.role_on(customer)

  = f.button :submit, t("app.user.index.links.form_button"), class: "btn-block btn-primary"
