- content_for :sub_nav do
  .col-md-5
    %h1= t "app.user.show.subnav"
  .col-md-3
    %ul.list-inline
      %li
        = link_to t("app.user.index.links.user_all"), [:admin, :users]
      %li
        = link_to t("app.user.index.links.user_new"), [:new, :admin, :user]

.container
  .row
    .col-md-8.col-md-offset-2
      .panel-piled
        %h1.text-center
          = @user
          %span
            = link_to t("app.user.index.links.user_edit"), [:edit, :admin, @user],
              class: "btn btn-xs btn-primary"

        %p.text-center
          = @user.email

        - unless @user == current_user
          %h3.text-center
            = link_to t("app.user.index.links.user_archive"),
              [:archive, :admin, @user], method: :patch,
              data: { confirm: t("app.user.index.links.archive_alert")}


        %h2.text-center.m-b-1
          = t "app.user.show.roles"

        .row
          .col-md-4.col-md-offset-4
            - if @user.roles.any?
              %ul.list-group
                - @user.roles.each do |role|
                  %li.list-group-item
                    .span.counter.pull-right
                      #{role.role.titleize}
                    #{role.customer.name}
            - else
              %p.text-center
                = t "app.user.show.no_roles"

