%h1.text-center.m-t-0
  = link_to "#{@user} Profile", [:edit, :admin, @user]

%p.text-center
  = @user.email

- unless @user == current_user
  %h3.text-center
    = link_to "Archive User", [:archive, :admin, @user], method: :patch,
      data: { confirm: "Are you sure you want to archive this user?"}


%h2.text-center
  Assigned Roles

.row
  .col-md-4.col-md-offset-4
    - if @user.roles.any?
      %ul.list-group
        - @user.roles.each do |role|
          %li.list-group-item
            .span.badge
              #{role.role.titleize}
            #{role.customer.name}
    - else
      %p.text-center
        This user has no roles.
