!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8",
      "http-equiv": "Content-Type"}
    %meta{name: "viewport",
      content: "width=device-width, initial-scale=1"}
    %meta{content: "no-cache", name: "turbolinks-cache-control"}
    %title
      - if content_for?(:title)
        = yield(:title)
      - else
        Social Surveys
    = favicon_link_tag
    = csrf_meta_tags
    = stylesheet_link_tag 'account',
      media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application',
      'data-turbolinks-track': 'reload'
    = javascript_include_tag :modernizr

  %body{class: page_class}
    = render "layouts/shared/alert_messages"
    = render "layouts/shared/account_nav_bar"
    %section
      .container
        .row
          .col-md-5
            .article-text
              = image_tag "check.png", width: 70, class: "img-responsive"
              %h1= t "account.header_title"
          .col-md-5.col-md-offset-2
            .article-form
              = yield
    = render "layouts/shared/account_footer"
